/* style.css */
/*linking colour to rpg code*/
:root {
  --buttercream: #fdf6ec;
  --sage: #a3b18a;
  --moss: #6c7d47;
  --dusty-rose: #d8a7b1;
  --ginger: #d08c60;
  --ink: #3e3e3e;
  --cloud: #e8e3dc;
  --warm-walnut: c;
}

 /*base styles*/
body {
  background-colour: #fdf6ec;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/*Layout for sections*/
header, nav, section, footer {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

/*header layout*/
header {
  background-colour: #a3b18a;
  font-family: 'Playfair Display', serif;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Navigation links */
nav {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  text-decoration: none;
  colour: #a3b18a;
  font-weight: bold;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

/* Content sections */
section {
  background-colour: #d8a7b1;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}







/* Footer */
footer {
  text-align: center;
  colour: #a3b18a;
  font-size: 0.9em;
  margin-top: 40px;
}
